[Desktop Entry]
Type=Application
Name=YOUTUBE VIDEOS DOWNLOAD FOR VASHNIE PEREGOVORI 2002 KRUTO COOL SOSAL
GenericName=YouTube segment clipper
Comment=Вырезка отрезков с YouTube в MP4
Exec=yvp-vashnie-peregovori %u
Icon=/usr/share/yvp-vashnie-peregovori/extension/icons/icon48.png
Terminal=false
Categories=AudioVideo;Video;Utility;
MimeType=x-scheme-handler/yvp;
StartupWMClass=yvp-vashnie-peregovori
