{
  "url": "https://youtu.be/Pbk-bqanUXw?si=xP5n_gLG7pwVA92W",
  "start": "6:01",
  "end": "6:07",
  "title": "Кому-то это может показаться крутым",
  "output_dir": "./videos download",
  "language": "ru"
}
